body {
    margin: 0px 150px 0px 150px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C090A;
}

header {
    color: white;
    display: block;
    align-items: center;
    height: 100px;
    margin-top: 0%;
}


h2 {
    font-size: 40px;
    margin-left: 40px;
    color: white;
}

/*
Button code
*/
button:hover {
    transform: translate(-0px, -12px);
}

button {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #E25600;
    transition: 0.25s;
    margin-right: 20px;
    margin-top: 20px;
    height: 150px;
    color: white;
}

.Salty li {
    display: inline-block;
    height: auto;
    width: 450px;
}

img {
    display: inline-block;
    margin-left: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}